# Ignore datasets and large files
dataset/
logs/
model_plots/
predictions/

# Ignore unused/extra models
saved_model/cam_model/
saved_model/*.h5

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db
